# Data Preprocessing:

In [1]:
pip install pandas numpy

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [7]:
df=pd.read_csv(r"C:\Users\Hp\Documents\AIML\AIML_Notes\predictive_maintenance_project\data\predictive_maintenance.csv")

In [18]:
df.head()

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure

In [8]:
#Droping Meaningless Features
df=df.drop(["UDI","Product ID"],axis=1)

In [9]:
df.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,M,298.1,308.6,1551,42.8,0,0,No Failure
1,L,298.2,308.7,1408,46.3,3,0,No Failure
2,L,298.1,308.5,1498,49.4,5,0,No Failure
3,L,298.2,308.6,1433,39.5,7,0,No Failure
4,L,298.2,308.7,1408,40.0,9,0,No Failure

In [20]:
df.isnull()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False

In [21]:
#checking Stats
df.describe()

,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,300.004930,310.005560,1538.776100,39.986910,107.951000,0.033900
std,2.000259,1.483734,179.284096,9.968934,63.654147,0.180981
min,295.300000,305.700000,1168.000000,3.800000,0.000000,0.000000
25%,298.300000,308.800000,1423.000000,33.200000,53.000000,0.000000
50%,300.100000,310.100000,1503.000000,40.100000,108.000000,0.000000
75%,301.500000,311.100000,1612.000000,46.800000,162.000000,0.000000
max,304.500000,313.800000,2886.000000,76.600000,253.000000,1.000000

In [22]:
#Checking NUll value
df.isnull().sum()

Type                       0
Air temperature [K]        0
Process temperature [K]    0
Rotational speed [rpm]     0
Torque [Nm]                0
Tool wear [min]            0
Target                     0
Failure Type               0
dtype: int64

## Feature Engineering

In [9]:
#Converting Celcius to Kelvin, 1 K= -272 C
df["Air temperature [C]"]=df["Air temperature [K]"]-272

In [10]:
df.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type,Air temperature [C]
0,M,298.1,308.6,1551,42.8,0,0,No Failure,26.1
1,L,298.2,308.7,1408,46.3,3,0,No Failure,26.2
2,L,298.1,308.5,1498,49.4,5,0,No Failure,26.1
3,L,298.2,308.6,1433,39.5,7,0,No Failure,26.2
4,L,298.2,308.7,1408,40.0,9,0,No Failure,26.2

In [11]:
df["Process temperature [C]"]=df["Process temperature [K]"]-272

In [12]:
df.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type,Air temperature [C],Process temperature [C]
0,M,298.1,308.6,1551,42.8,0,0,No Failure,26.1,36.6
1,L,298.2,308.7,1408,46.3,3,0,No Failure,26.2,36.7
2,L,298.1,308.5,1498,49.4,5,0,No Failure,26.1,36.5
3,L,298.2,308.6,1433,39.5,7,0,No Failure,26.2,36.6
4,L,298.2,308.7,1408,40.0,9,0,No Failure,26.2,36.7

In [13]:
df["Temperature Difference[C]"]=df["Process temperature [K]"]-df["Air temperature [K]"]

In [14]:
df.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type,Air temperature [C],Process temperature [C],Temperature Difference[C]
0,M,298.1,308.6,1551,42.8,0,0,No Failure,26.1,36.6,10.5
1,L,298.2,308.7,1408,46.3,3,0,No Failure,26.2,36.7,10.5
2,L,298.1,308.5,1498,49.4,5,0,No Failure,26.1,36.5,10.4
3,L,298.2,308.6,1433,39.5,7,0,No Failure,26.2,36.6,10.4
4,L,298.2,308.7,1408,40.0,9,0,No Failure,26.2,36.7,10.5

Power Output Formula:
Pout=TW,
w=2x3.14xr/60
Pout=Output Power
T=Torque
w=Speed Velocity
r=rotational speed

In [15]:
df["Output Power"]=df["Torque [Nm]"]*((2*3.14*df["Rotational speed [rpm]"])/60)

In [16]:
df.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type,Air temperature [C],Process temperature [C],Temperature Difference[C],Output Power
0,M,298.1,308.6,1551,42.8,0,0,No Failure,26.1,36.6,10.5,6948.066400
1,L,298.2,308.7,1408,46.3,3,0,No Failure,26.2,36.7,10.5,6823.261867
2,L,298.1,308.5,1498,49.4,5,0,No Failure,26.1,36.5,10.4,7745.458933
3,L,298.2,308.6,1433,39.5,7,0,No Failure,26.2,36.6,10.4,5924.499667
4,L,298.2,308.7,1408,40.0,9,0,No Failure,26.2,36.7,10.5,5894.826667

In [17]:
df["Output Power (Kw)"]=df["Output Power"]/1000

In [20]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

df["Type_Encoded"]=le.fit_transform(df["Type"])

In [21]:
df.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type,Air temperature [C],Process temperature [C],Temperature Difference[C],Output Power,Output Power (Kw),Type_Encoded,FailureType_Encoded
0,M,298.1,308.6,1551,42.8,0,0,No Failure,26.1,36.6,10.5,6948.066400,6.948066,2,1
1,L,298.2,308.7,1408,46.3,3,0,No Failure,26.2,36.7,10.5,6823.261867,6.823262,1,1
2,L,298.1,308.5,1498,49.4,5,0,No Failure,26.1,36.5,10.4,7745.458933,7.745459,1,1
3,L,298.2,308.6,1433,39.5,7,0,No Failure,26.2,36.6,10.4,5924.499667,5.924500,1,1
4,L,298.2,308.7,1408,40.0,9,0,No Failure,26.2,36.7,10.5,5894.826667,5.894827,1,1

In [19]:
df["FailureType_Encoded"]=le.fit_transform(df["Failure Type"])

In [22]:
df=df.drop(["Type","Air temperature [K]","Process temperature [K]","Failure Type","Output Power"],axis=1)

In [23]:
df.head()

,Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Air temperature [C],Process temperature [C],Temperature Difference[C],Output Power (Kw),Type_Encoded,FailureType_Encoded
0,1551,42.8,0,0,26.1,36.6,10.5,6.948066,2,1
1,1408,46.3,3,0,26.2,36.7,10.5,6.823262,1,1
2,1498,49.4,5,0,26.1,36.5,10.4,7.745459,1,1
3,1433,39.5,7,0,26.2,36.6,10.4,5.924500,1,1
4,1408,40.0,9,0,26.2,36.7,10.5,5.894827,1,1

In [1]:
from sklearn.model_selection import train_test_split

In [25]:
x=df.drop(["FailureType_Encoded","Type_Encoded"],axis=1)
y=df["FailureType_Encoded"]

In [26]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [27]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier,AdaBoostClassifier
from sklearn.svm import SVC

In [28]:
lr=LogisticRegression()
dtc=DecisionTreeClassifier()
rfc=RandomForestClassifier()
gbc=GradientBoostingClassifier()
abc=AdaBoostClassifier()
support_vector_classifier=SVC()